/*==========GENERIC=========*/
	body {
		font-family: Helvetica,Arial,Sans-serif;
		margin: 0 auto;
		padding: 0 auto;
		background-color: black;
	}

	/*=================================*/
	/*==========ICONS BAR===========*/
	.icons_bar img {
		width: 100px;
		display: inline-block;
		border-right: 1px solid #fff;
	}
	/*===================================*/
	/*==============DATE==============*/
	.date h2,h4 {
		font-family: 'Oswald', sans-serif;
		color: #fff;
		vertical-align: middle;
	}
	.date h2 {
		font-size: 18px;
		font-weight: 700;
	}
	.date h4 {
		font-size: 12px;
		font-weight: 400;
	}
	/*=================================*/
	/*==========NAV BAR============*/
	.nav_bar {
		display: none;
		position: absolute;
		top: 0;
		z-index: 2500;
	}

	.nav_bar ul {
		font-size: 18px;
		font-weight: 700;
		background: none;
	}
	.nav_bar ul a {
		background: none;
	}
	.nav_bar ul a:hover{
		color: #fff;
		background: none;
	}
	.nav_bar ul a:focus{
		background: none;
	}
	.nav-pills>li>a {
		background: none;
	}
	.nav-pills>li.active>a, .nav-pills>li.active>a:hover {
	    color: #fff;
	    text-decoration: underline;
	    background: none;
	}
	/*==================================*/
	/*============GAP===========*/
	
	
	/*==================================*/

	/*===========JUMBOTRON==========*/
	.jumbotron {
		padding: 0;
		margin: 7% 0 0 0;
		position: absolute;
		left: 20%;
		width: 60%;
		z-index: 2000;
		text-align: center;
		background:none;
	}
	.jumbotron h1{
		font-family: Helvetica,Arial,Sans-serif;
		color: #00AAD1;
		font-weight: 700;
		padding-bottom: 0;
		font-size: 45px;
		text-align: center;
		margin-bottom: 0;
		margin-top: 0;
	}
	.turn,
	.power{
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 300;
		text-align: justify;
		color: #fff;
		font-size: 45px;
		margin-bottom: 0;
		padding: 0;
	}
	.switch_off{
		color: #7FD114;
		font-size: 60px;
		font-style: italic;
		text-decoration: underline;
	}
	.for{
		font-family: 'Crimson Text', serif;
		color: #fff;
		font-weight: 600;
		font-style: italic;
		font-size: 20px;
	}
	.jumbotron p{
		font-family: Helvetica,Arial,Sans-serif;
		color: #fff;
	}
	.earth img{
		position: absolute;
		width: 70%;
		left: 15%;
		margin-top: 0%;
	}
	.row{
		height: 75%;
	}
	

	.timer {
		position: relative;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 300;
		font-size: 20px;
		color: #fff;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		padding: 0.25em;
	}
	.seconds {
		color: #7FD114;
	}
	.btn-primary {
		margin-top: 1em;
		background-color: #337ab7;
		font-size: 22px;
		z-index: 3000;
		border-radius: 0;
	}
	/*===================================*/
	/*==============ABOUT=============*/
	.about {
		font-family: Helvetica,Arial,Sans-serif;
		position: absolute;
		background: rgba(0,0,0,0.8);
		left: -750px;
		top: 0;
		overflow: auto;
		width: 100vw;
		height: 100vh;
		opacity: 0;
		z-index: 4000;
	}

	.about img {
		position: absolute;
		right: 10%;
		margin-top: 15%;
		width: 35px;
	}
	
	.about p,
	.about h1{		
		margin-left: 10%;
		margin-right: 10%;
	}

	.about h1{
		margin-top: 15%;
		font-weight: 700;
		color: #00AAD1;
	}
	.about p{
		margin-top: 10%;
		color: #eee;
		text-align: justify;
	}
	/*====================================*/
	/*=============EARTH ANIMATIONS==================*/
	@-webkit-keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}

	@keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
	.rotate {
		-webkit-animation: spin 60s infinite;
		animation: spin 60s infinite;
	}
	/*=======================================*/
	/*========SWITCH GRAYSCALE EFFECT==========*/

	/*==========================================*/
}

/********************************************
===========MEDIA QUERIES============
*********************************************/
@media screen and (min-width:480px) and (max-width: 767px){

	/*==========GENERIC=========*/
	body {
		font-family: Helvetica,Arial,Sans-serif;
		margin: 0 auto;
		padding: 0 auto;
		background-color: black;
	}

	/*=================================*/
	/*==========ICONS BAR===========*/
	.icons_bar img {
		display: inline-block;
		border-right: 1px solid #fff;
	}
	/*===================================*/
	/*==============DATE==============*/
	.date h2,h4 {
		font-family: 'Oswald', sans-serif;
		color: #fff;
	}
	.date h2 {
		font-size: 35px;
		font-weight: 700;
	}
	.date h4 {
		font-size: 25px;
		font-weight: 400;
	}
	/*=================================*/
	/*==========NAV BAR============*/

	.nav_bar ul {
		font-size: 30px;
		font-weight: 700;
		ackground: none;
	}
	.nav_bar ul a {
		background: none;
	}
	.nav_bar ul a:hover{
		color: #fff;
		background: none;
	}
	.nav_bar ul a:focus{
		background: none;
	}
	.nav-pills>li>a {
		background: none;
	}
	.nav-pills>li.active>a, .nav-pills>li.active>a:hover {
	    color: #fff;
	    text-decoration: underline;
	    background: none;
	}
	/*==================================*/

	/*===========JUMBOTRON==========*/
	.jumbotron{
		position: absolute;
		padding-top: 5%;
	}
	.jumbotron h1{
		font-family: Helvetica,Arial,Sans-serif;
		color: #fff;
		font-weight: 700;
		padding-bottom: 0.25em;
	}
	.jumbotron p{
		font-family: Helvetica,Arial,Sans-serif;
		color: #fff;
	}
	.earth img{
		position: absolute;
		width: 50%;
		left: 25%;
	}
	.row{
		height: 75%;
	}
	.jumbotron {
		margin-top: 10%;
		position: absolute;
		left: 25%;
		width: 50%;
		z-index: 2000;
		text-align: center;
		background:none;
	}

	.jumbotron hr{
		width: 20%;
		border: none;
		height: 10px;
		background: #fff;

	}

	.timer {
		position: relative;
		/*font-family: 'Keania One', cursive;*/
		font-size: 85px;
		width: 100%;	
		color: #fff;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		padding: 0.25em;
	}
	.seconds {
		color: #7FD114;
	}
	.btn-primary {
		margin-top: 1em;
		background-color: #337ab7;
		font-size: 50px;
	}
	/*===================================*/

	/*=============EARTH ANIMATIONS==================*/
	@-webkit-keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}

	@keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
	.rotate {
		-webkit-animation: spin 60s infinite;
		animation: spin 60s infinite;
	}
	/*=======================================*/
	/*========SWITCH GRAYSCALE EFFECT==========*/

	/*==========================================*/
}
@media screen and (min-width:768) and (max-width: 979px){
}
@media screen and (min-width:980px) and (max-width: 1023px){
}
@media screen and (min-width:1024px){
}