/*==========GENERIC=========*/
body {
	font-family: Helvetica,Arial,Sans-serif;
	margin: 0 auto;
	padding: 0 auto;
	background-color: black;
}

/*=================================*/
/*==========HEADER===========*/
.header {
	display: flex;
	position: fixed;
}
/*===================================*/
/*==========ICONS BAR===========*/
.icons_bar img {
	
	max-width: 80px;
	display: inline-block;
	border-right: 1px solid #fff;
	align: right;
}
/*===================================*/
/*==============DATE==============*/
.date h2,h4 {
	font-family: 'Oswald', sans-serif;
	color: #fff;
	vertical-align: middle;
	margin-left: 35px;
}
.date h2 {
	font-size: 18px;
	font-weight: 700;
}
.date h4 {
	font-size: 12px;
	font-weight: 400;
}
/*=================================*/
/*==============EARTH================*/
.earth img{
	position: absolute;
	width: 70%;
	left: 15%;
	margin-top: 20%;
}
/*===================================*/

/*===========JUMBOTRON==========*/
.jumbotron {
	padding: 0;
	margin: 22% 0 0 0;
	position: absolute;
	left: 20%;
	width: 60%;
	z-index: 2000;
	text-align: center;
	background:none;
}
.jumbotron h1{
	font-family: Helvetica,Arial,Sans-serif;
	color: #00AAD1;
	font-weight: 700;
	padding-bottom: 0;
	font-size: 45px;
	text-align: center;
	margin-bottom: 0;
	margin-top: 10px;
}
.turn,
.power{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	text-align: justify;
	color: #fff;
	font-size: 45px;
	margin-bottom: 0;
	padding: 0;		
}
.turn,.power,.for {
	text-shadow:
	   -1px -1px 6px #aaa,  
	    1px -1px 6px #aaa,
	    -1px 1px 6px #aaa,
	     1px 1px 6px #aaa;
}

.switch_off{
	color: #7FD114;
	font-size: 60px;
	font-style: italic;
	text-decoration: underline;
}
.switch_off:hover{
	color: #68AB10
}
.switch_off:active{
	color: #68AB10
}

.for{
	font-family: 'Crimson Text', serif;
	color: #fff;
	font-weight: 600;
	font-style: italic;
	font-size: 20px;
	padding-bottom: 20px;
}
.jumbotron p{
	font-family: Helvetica,Arial,Sans-serif;
	color: #fff;
}

.row{
	height: 75%;
}


.timer {
	position: relative;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #FF8800;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 0.25em;
}
.seconds {
	color: #7FD114;
}
.btn-primary {
	margin-top: 1em;
	background-color: #337ab7;
	font-size: 22px;
	z-index: 3000;
	border-radius: 0;
}
/*===================================*/
/*============NAV MODAL==============*/
.nav_modal {
	font-family: Helvetica,Arial,Sans-serif;
	position: absolute;
	background: rgba(0,0,0,0.8);
	top: -1000px;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	z-index: 3000;
}
/*==========NAV BAR============*/
.nav_bar {
	opacity: 0;		
	position: absolute;		
	width: 100vw;
	height: 100vh;
	top: -1000px;
	z-index: 3500;
	display: flex;
	justify-content: center;
}
.nav_bar ul{
	position: absolute;
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 32px;
	top: 15%;
	left: 10%;
	width: 80%;
	max-width: 500px;
	padding: 0;
	margin: 0;
	height: 70%;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}
.nav_bar a{
	text-decoration: none;
}
.nav_bar a:hover{
	background: #7FD114;
	transition: all 0.5s ease-in-out;
}
.nav_bar a:active{
	background: #68AB10;
}
.nav_bar li{
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
	border: 1px solid #fff;
}

/*==================================*/
/*==============ABOUT=============*/
.about {
	font-family: Helvetica,Arial,Sans-serif;
	position: absolute;
	background: rgba(0,0,0,0.8);
	left: -750px;
	top: 0;
	overflow: auto;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	z-index: 4000;
}

.about img {
	position: absolute;
	right: 10%;
	margin-top: 15%;
	width: 35px;
}

.about p,
.about h1{		
	margin-left: 10%;
	margin-right: 10%;
}

.about h1{
	margin-top: 15%;
	font-weight: 700;
	color: #00AAD1;
}
.about p{
	margin-top: 10%;
	color: #eee;
	text-align: justify;
}
/*====================================*/
/*==============HOW=============*/
.how {
	font-family: Helvetica,Arial,Sans-serif;
	position: absolute;
	background: rgba(0,0,0,0.8);
	left: -750px;
	top: 0;
	overflow: auto;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	z-index: 5000;
}

.how img {
	position: absolute;
	right: 10%;
	margin-top: 15%;
	width: 35px;
}

.how p,
.how h1{		
	margin-left: 10%;
	margin-right: 10%;
}

.how h1{
	margin-top: 15%;
	font-weight: 700;
	color: #00AAD1;
}
.how p{
	margin-top: 10%;
	color: #eee;
	text-align: justify;
}
/*====================================*/
/*=============EARTH ANIMATIONS==================*/
@-webkit-keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.rotate {
	-webkit-animation: spin 60s infinite;
	animation: spin 60s infinite;
}
/*=======================================*/
/********************************************
===========MEDIA QUERIES============
*********************************************/
/* Small devices (tablets between 768px and 992px) */
@media screen and (min-width: 768px) and (max-width: 992px) {
	.jumbotron {
		position: fixed;
	}
}
/* Medium devices (desktops between 992px and 1200px) */
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.jumbotron {
		position: fixed;
	}
}
/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px){
	.jumbotron {
		position: fixed;
	}
}


/*@media screen and (min-width:480px) and (max-width: 767px){	
	
}
@media screen and (min-width:768) and (max-width: 979px){
}
@media screen and (min-width:980px) and (max-width: 1023px){
}
@media screen and (min-width:1024px){
}*/